<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravy - Admin Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container-sm">
        <h2 class="text-center mt-4">Admin Registration</h2>
        <h6>**Only For Demo Purpose**</h6>
        <form action="" method="POST" class="mt-4">
            {{ form.hidden_tag() }}

            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username(class="form-control", placeholder="Enter your username") }}
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", placeholder="Enter your password") }}
            </div>

            <div class="text-center">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

        <div class="link text-center mt-3">
            <p>Already a admin? <a href="{{ url_for('admin_login') }}">Sign In</a></p>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const container = document.querySelector('.container-sm');
        container.style.opacity = '0';

        setTimeout(() => {
            container.style.transition = 'opacity 0.5s ease';
            container.style.opacity = '1';
        }, 500);
    </script>
</body>

</html>