body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  color: #333333;
  text-align: center;
  margin-top: 50px;
  font-size: 48px;
  color: #333;
}

.category {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666666;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1d1212;
}

/* --NAVBAR Styling-- */

a img {
  height: 50px;
  width: 50px;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.link {
  margin-left: 30px;
  color: azure;
}

/* NavBar Styling */

a img{
  height: 50px;
  width: 50px;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.nav-right {
  position: absolute;
  right: 20px;
}

/* ---------------- */

.form-container {
  margin-left: 50px;
  margin-right: 50px;
}

.button {
  margin-bottom: 50px;
}